.rodape {
    text-align: center;

    margin: 7rem 3rem 5rem 3rem;
}

.rodape__lista{
    display: flex;
    justify-content: center;
    gap: 1rem;

    margin: 2rem 0;

    list-style-type: none;
}

.lista__link > a {
    text-decoration: none;

    color: var(--branco);
}

.lista__link > a:hover {
    color: var(--azul);
}

.rodape__texto {
    color: var(--cinza);

    font-size: 0.875rem;

    margin-bottom: 2rem;
}
